/* .two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
} */

.two_columns {
  display: flex;

  justify-content: center;
  gap: 5rem;
}

img {
  max-height: 40%;
  max-width: 30%;
}

main {
  margin: 2rem;
}

li {
  padding: 0.2rem;
  list-style: circle;
}

header li {
  list-style: none;
}

h3 {
  padding: 1rem;
}
