/* Sørger for at alt generelt ligger hvor det skal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

main {
  max-width: 100%;
  margin: 5px;
}

section {
  padding-bottom: 3rem;
}

#first_section {
  padding-bottom: 0rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  border: 0;
  border-top: 1px solid rgb(136, 73, 50);
  margin: 1rem;
}

video {
  max-width: 95%;
  padding: 1rem;
}

body {
  background-color: #f2e0d0;
}

header {
  background-image: url(pics/forside/kent-pilcher-87MIF4vqHWg-unsplash.webp);
  background-size: cover;
}

footer {
  background-color: #d98b32d7;
  background-image: url(pics/forside/kent-pilcher-87MIF4vqHWg-unsplash.webp);
  background-size: cover;
  height: 2rem;
  padding: 3rem;
  font-family: EB garamond;
  font-size: 1.3rem;
}

.foot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* Tekst */

h1 {
  font-family: Charmonman;
  font-size: 3.5rem;
  font-weight: 700;
  padding-top: 1rem;
  text-align: center;
  background-image: url(pics/forside/guldtekst.webp);
  background-size: cover;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

h2 {
  font-family: Charm;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #412108;
  text-shadow: 2px 2px 2px #d96732;
}

h3 {
  font-family: Charm;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
  color: #412108;
  text-shadow: 1px 2px 2px #d96732;
}

h4 {
  font-family: Charm;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
  color: #412108;
  text-shadow: 1px 1px 2px #d96732;
}

p {
  font-family: EB Garamond;
  font-size: 1.1rem;
  color: #000000;
}

/* Links/menu */

header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-flow: wrap;
}

header a {
  text-decoration: none;
}

header ul a {
  font-size: 2rem;
}

ul a {
  text-decoration: none;
  font-family: charm;
  font-size: 1.5rem;
  color: #731c16;
  text-shadow: 2px 2px 2px #d98332;
}

ul a:hover {
  color: #944517;
  text-shadow: 2px 2px 2px #d6801d;
}

a {
  /* text-decoration: none; */
  font-family: EB Garamond;
  font-size: 1.2rem;
  color: #731c16;
  text-shadow: 1px 1px 1px #d98332;
}

a:hover {
  color: #944517;
  text-shadow: 1px 1px 1px #d98332;
}

/* Kun mobilversion */

@media (max-width: 600px) {
  main {
    margin: 1rem;
  }

  p {
    padding-bottom: 1rem;
  }

  nav {
    display: none;
  }

  nav.shown {
    display: flex;
    flex-flow: column;
  }

  .burgermenu {
    background-color: rgba(199, 169, 94, 0.774);
    border-radius: 5px;
    border: ridge 4px rgba(196, 85, 11, 0.61);
    padding: 0.5rem;
  }

  ul a {
    font-size: 1.2rem;
  }

  #container_t02_5 {
    display: grid;
  }

  .grid_pic_2 {
    grid-row: 3/4;
  }

  #container_T03_5 {
    display: grid;
    gap: 5px;
  }

  .jewels1 {
    grid-row: 2/3;
  }

  .jewels2 {
    grid-row: 3/4;
  }
  .laser1 {
    grid-row: 4/5;
  }

  .laser2 {
    grid-row: 5/6;
  }

  .bags1 {
    grid-row: 6/7;
  }

  .bags2 {
    grid-row: 7/8;
  }

  footer {
    height: 7rem;
  }
}

#mobilcontent {
  height: 150rem;
}

@media (min-width: 600px) {
  .burgermenu {
    display: none;
  }
}
